<%= render "layouts/first_tab" %>
<%= form_for(@brakes_system) do |f| %>
  <% if @brakes_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brakes_system.errors.count, "error") %> prohibited this brakes_system from being saved:</h2>

      <ul>
        <% @brakes_system.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :compressor %>
    <%= f.check_box :compressor, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :bands %>
    <%= f.check_box :bands, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :hoses %>
    <%= f.check_box :hoses, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :valve %>
    <%= f.check_box :valve, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :palancon %>
    <%= f.check_box :palancon, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :dual %>
    <%= f.check_box :dual, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :double_chambers %>
    <%= f.check_box :double_chambers, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :balata %>
    <%= f.check_box :balata, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :drums %>
    <%= f.check_box :drums, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :mass %>
    <%= f.check_box :mass, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :observations %>
    <%= f.text_area :observations, :class=>"text-input small-input" %>
  </p>
  <%if controller.action_name == "new" or controller.action_name == "create" %>
    <p class="field">
      <%= f.label :driver_id %>
      <%= f.collection_select(:driver_id, @drivers, :id, :driver_name, {:prompt => true}, :class =>'.small-input')%>
    </p>
  <%end%>

  <div class="form-actions">
    <%= f.submit nil, :class => 'button' %>
  </div>

<% end %>
