<%#= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t'.name' %></b><%= @branch.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.contact_name' %></b><%= @branch.contact_name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.email1' %></b><%= @branch.email1 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.email2' %></b><%= @branch.email2 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.webpage' %></b><%= @branch.webpage %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.phone1' %></b><%= @branch.phone1 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.phone2' %></b><%= @branch.phone2 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.name' %></b><%= @branch.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.address1' %></b><%= @branch.address1 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.address2' %></b><%= @branch.address2 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.city' %></b><%= @branch.city %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.state' %></b><%= @branch.state %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.zip' %></b><%= @branch.zip %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.country' %></b><%= @branch.country %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.description' %></b><%= @branch.description %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.company_id' %></b><%= @branch.company.name %>
      </td>
    </tr>
  </table>
  <%= render "layouts/action_links" %>
</div>
<br />

