<%#= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
          <tr>
        <td>
          <b><%= t'.name' %>:<%= @branch.name %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.email1' %>:<%= @branch.email1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.email2' %>:<%= @branch.email2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.webpage' %>:<%= @branch.webpage %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.phone1' %>:<%= @branch.phone1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.phone2' %>:<%= @branch.phone2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.name' %>:<%= @branch.name %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.address1' %>:<%= @branch.address1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.address2' %>:<%= @branch.address2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.city' %>:<%= @branch.city %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.state' %>:<%= @branch.state %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.zip' %>:<%= @branch.zip %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.country' %>:<%= @branch.country %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.description' %>:<%= @branch.description %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.company' %>:<%= @branch.company %>
        </td>
      </tr>
      </table>
</div>


<%= render "layouts/action_links" %>
