<%= render "layouts/first_tab" %>
<%= form_for(@compactor_drawer) do |f| %>
  <% if @compactor_drawer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compactor_drawer.errors.count, "error") %> prohibited this compactor_drawer from being saved:</h2>

      <ul>
        <% @compactor_drawer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="left-custom-column">
    <p class="field">
      <%= f.label :iron, :style => "position: absolute" %>
      <%= f.check_box :iron, :class=>"text-input small-input" %>
    </p>
    <p class="field">
      <%= f.label :curtain, :style => "position: absolute" %>
      <%= f.check_box :curtain, :class=>"text-input small-input" %>
    </p>
    <p class="field">
      <%= f.label :shovel, :style => "position: absolute" %>
      <%= f.check_box :shovel, :class=>"text-input small-input" %>
    </p>
    <p class="field">
      <%= f.label :floor, :style => "position: absolute" %>
      <%= f.check_box :floor, :class=>"text-input small-input" %>
    </p>
    <p class="field">
      <%= f.label :walls, :style => "position: absolute" %>
      <%= f.check_box :walls, :class=>"text-input small-input" %>
    </p>
    <p class="field">
      <%= f.label :roof, :style => "position: absolute" %>
      <%= f.check_box :roof, :class=>"text-input small-input" %>
    </p>
    <%if controller.action_name == "new" or controller.action_name == "create" %>
    <br>
      <p class="field">
        <%= f.label :driver_id %>
        <%= f.collection_select(:driver_id, @drivers, :id, :driver_name, {:prompt => true}, :class =>'.small-input')%>
      </p>
    <%end%>
  </fieldset>
  <fieldset class="right-custom-column">
    <p class="field">
      <%= f.label :observations %>
      <%= f.text_area :observations, :style => "height:120px;"  %>
    </p>
  </fieldset>

  <div class="form-actions">
    <%= f.submit nil, :class => 'button' %>
  </div>

<% end %>
<div>
  <%= render "layouts/action_links" %>
</div>
<br><br><br>