<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div id="columns-container">
    <div id="left-custom-column">
      <p class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :class=>"text-input small-input" %>
      </p>
      <p class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :email %>
        <%= f.text_field :email, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :phone1 %>
        <%= f.text_field :phone1, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :phone2 %>
        <%= f.text_field :phone2, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :address1 %>
        <%= f.text_field :address1, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :address2 %>
        <%= f.text_field :address2, :class=>"text-input small-input" %> 
      </p>
    </div>
    <div id="right-custom-column">
      <p class="field">
        <%= f.label :city %>
        <%= f.text_field :city, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :state %>
        <%= f.text_field :state, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :zip %>
        <%= f.number_field :zip, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :country %>
        <%= f.text_field :country, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :company_id %>
        <%= f.collection_select(:company_id, companies, :id, :name, {:prompt => true}, :class =>'.small-input')%>
      </p>
      <p class="field">
        <%= f.label :branch_id %>
        <%= f.collection_select(:branch_id, branches, :id, :name, {:prompt => true}, :class =>'.small-input')%>
      </p>
      <%unless @user.id == current_user.id%>
        <p class="field">
          <%= f.label :role_id %>
          <%= f.collection_select(:role_id, roles, :id, :name, {:prompt => true}, :class =>'.small-input')%>
        </p>
      <%end%>
      <p class="field">
        <%= f.label :username %>
        <%= f.text_field :username, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :password %>
        <%= f.password_field :password, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :password_confirmation %>
        <%= f.text_field :password_confirmation, :class=>"text-input small-input" %> 
      </p>
      <p class="field">
        <%= f.label :current_password %>         
        <%= f.password_field :current_password, :class=>"text-input small-input"  %><i>(we need your current password to confirm your changes)</i>
      </p>      
    </div>
  </div>
  <p class="form-actions">
    <%= f.submit nil, :class => 'button', :style=>"float:right; margin-top:-30px;" %>
  </p>
<% end %>

<%if can? :index, User %>
  <%= link_to t(:return_to_users), users_path, :class=>"button" %>
<%end%>
<%if can? :new, User %>
  <%= link_to t(:new_user), new_user_path, :class=>"button" %>
<%end%>
<%if can? :destory, User %>
  <%= link_to t(:destory_user), @user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button" %>
<%end%>