<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
          <tr>
        <td>
          <b><%= t'.model' %>:</b> <%= @truck.model %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.brand' %>:</b> <%= @truck.brand %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.year' %>:</b> <%= @truck.year %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.truck_type' %>:</b> <%= @truck.truck_type %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.plate_no' %>:</b> <%= @truck.plate_no %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.serial_no' %>:</b> <%= @truck.serial_no %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.color' %>:</b> <%= @truck.color %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.wheels_no' %>:</b> <%= @truck.wheels_no %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.other' %>:</b> <%= @truck.other %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.identifier' %>:</b> <%= @truck.identifier %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.branch' %>:</b> <%= @truck.branch.name %>
        </td>
      </tr>
      </table>
</div>


<%= render "layouts/action_links" %>
