<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
  <table>
    <thead>
      <tr>
        <th><input class="check-all" type="checkbox" /></th>
        <th><%= t'.id' %></th>
        <th><%= t'.name' %></th>
      </tr>

    </thead>

    <tfoot>
      <tr>
        <td colspan="6">
          <div class="bulk-actions align-left">
            <%= render "layouts/select_action" %>
          </div>
<%#= render "layouts/pagination" %>
          <div class="clear"></div>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% @dogs.each do |dog| %>
        <tr>
          <td><input type="checkbox" /></td>
          <%if can? :show, Dog %>
            <td><%=link_to dog.id, dog, :class => 'button'%></td>
          <%else%>
            <td><%= label dog.id, dog.id, :class => 'button'%></td>
          <%end%>
          <%= @model = dog %> %>
          <td><%= dog.name %></td>
          <%= render "layouts/index_links" %>
        <% end %>
    </tbody>
  </table>
  <%= render "layouts/action_links" %>
</div> 
<%= render "layouts/second_tab" %>