<%= render "layouts/first_tab" %>
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :driver_id %>
    <%= f.collection_select(:driver_id, @drivers, :id, :driver_name, {:prompt => true}, :class =>'.small-input')%>
  </p>
  <p class="field">
    <%= f.label :company_id %>
    <%= f.collection_select(:company_id, @companies, :id, :name, {:prompt => session[:promp_company]}, :class =>'.small-input')%>
  </p>
  <p class="field">
    <%= f.label :branch_id %>
    <%= f.collection_select(:branch_id, @branches, :id, :name, {:prompt => session[:promp_branch]}, :class =>'.small-input')%>
  </p>
  <p class="field">
    <%= f.label :priority %>
    <%= f.text_field :priority, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :scheduled_date %>
    <%= f.date_select :scheduled_date, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class=>"text-input small-input" %>
  </p>
  <%if action_name == "edit" or action_name == "update"%>
    <p class="field">
      <%= f.label :comments %>
      <%= f.text_area :comments, :class=>"text-input small-input" %>
    </p>
    <p class="field">
      <%= f.label :completed %>
      <%= f.check_box :completed, :class=>"text-input small-input" %>
    </p>
    <p class="field">
      <%= f.label :completed_at %>
      <%= f.datetime_select :completed_at, :class=>"text-input small-input" %>
    </p>
    <p class="field">
      <%= f.label :latitude %>
      <%= f.text_field :latitude, :class=>"text-input small-input" %>
    </p>
    <p class="field">
      <%= f.label :longitude %>
      <%= f.text_field :longitude, :class=>"text-input small-input" %>
    </p>
  <%end%>

  <div class="form-actions">
    <%= f.submit nil, :class => 'button' %>
  </div>

<% end %>
