<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
  <table>
    <thead>
      <tr>
        <th><input class="check-all" type="checkbox" /></th>
        <th><%= t'.id' %></th>
        <th> <%=  t'.fullname' %></th>
        <th> <%= t'.email' %> </th>
        <th> <%= t'.phone1'  %></th>
        <th><%= t'.role_id' %></th>
        <th><%= t'.branch' %></th>
      </tr>

    </thead>

    <tfoot>
      <tr>
        <td colspan="6">
          <div class="bulk-actions align-left">
            <%= render "layouts/select_action" %>
          </div>
          <%= render "layouts/pagination" %>
          <div class="clear"></div>
        </td>
      </tr>
    </tfoot>

    <tbody>

      <% @users.each do |user| %>
        <% @model = user %>
        <tr>
          <td><input type="checkbox" /></td>
          <%if can? :show, User%>
            <td><%=link_to user.id, user%></td>
          <%else%>
            <td><%= label user.id, user.id%></td>
          <%end%>
          <td><%= user.fullname %></td>
          <td><%= user.email %></td>
          <td><%= user.phone1 %></td>
          <td><%= user.role.name %></td>
          <td><%= user.branch.name %></td>
          <%if can? :show, User %>
            <td><%=link_to user, :class=>"nav-header" do%>
                <img src="/assets/icons/information.png" alt="Edit" />
              <%end%>
            </td>
          <%end%>
          <%if can? :edit, User and (current_user.role.super_admin == true or current_user.role.branch_admin == true)%>
          <td><%=link_to edit_user_path(user), :class=>"nav-header" do%>
              <img src="/assets/icons/pencil.png" alt="Edit" />
            <%end%>
          </td>
        <%end%>
        <%if can? :destroy, User %>
          <td><%=link_to user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"nav-header" do%>
              <img src="/assets/icons/cross.png" alt="Delete" />
            <%end%>
          </td>
        <%end%>

      </tr>
    <% end %>

    </tbody>
  </table>
<%if can? :new, User %>
  <%= link_to t(:new_user), new_user_registration_path, :class => "button", :style=>"float:right; margin-top:-30px;"%>
<%end%>
</div> 

<%= render "layouts/second_tab" %>

<br><br><br>