<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <%= @user.fullname %>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>
        <b><%= t'.phone1'%></b>        <%= @user.phone1 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.phone2'%></b>       <%= @user.phone2 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.address1'%></b>        <%= @user.address1 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.address2'%></b>        <%= @user.address2 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.state'%></b>      <%= @user.state %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.zip'%></b>        <%= @user.zip %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.country'%></b>        <%= @user.country %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.branch_id' %></b> <%= @user.branch.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.company_id' %></b> <%= @user.company.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.role'%></b><%= @user.role.name %>
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        <b><%= t'.active'%></b>        <%= @user.active %>
      </td>
    </tr>
  </table>
  <%if can? :index, User %>
    <%= link_to t(:return_to_users), users_path, :class=>"button" %>
  <%end%>
  <%if can? :edit, User %>
    <%= link_to t(:edit_user), edit_user_registration_path(@user), :class=>"button" %>
  <%end%>
  <%if can? :new, User %>
    <%= link_to t(:new_user), new_user_path, :class=>"button" %>
  <%end%>
  <%if can? :destory, User %>
    <%= link_to t(:destory_user), @user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button" %>
  <%end%>
</div>
<br />
