<%#= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t'.branch_id' %></b> <%= @schedule.branch.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.driver_id' %></b> <%= @schedule.driver.user.fullname %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.truck_id' %></b> <%= @schedule.driver.truck.modelbrand %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.plate_no' %></b> <%= @schedule.driver.truck.plate_no %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.serial_no' %></b> <%= @schedule.driver.truck.serial_no %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.client_id' %></b> <%= @schedule.client.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.client_branch_id' %></b> <%= @schedule.client_branch.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t(:days) %></b> <%= ((t(:Monday) + ", ") if  @schedule.monday)%><%=((t(:Tuesday) + ", ") if  @schedule.tuesday)%><%= ((t(:Wednesday) + ", ") if  @schedule.wednesday)%><%=((t(:Thursday) + ", ") if  @schedule.thursday)%><%= ((t(:Friday) + ", ") if  @schedule.friday)%><%=(t(:Saturday) + ", ") if  @schedule.saturday%><%= t(:Sunday) if  @schedule.sunday%>
      </td>
    </tr>
  </table>
  <%= render "layouts/action_links" %>
</div>
<br />