<script>
  function setBillingInfo(value) {
    if (value == "true") {
      var first_name = document.getElementById("client_first_name").value;
      var last_name = document.getElementById("client_last_name").value;
      $("#client_bills_attributes_0_name").val(first_name + " " + last_name);
      var email = document.getElementById("client_email").value;
      $("#client_bills_attributes_0_email").val(email);
      var phone1 = document.getElementById("client_phone1").value;
      $("#client_bills_attributes_0_phone1").val(phone1);
      var phone2 = document.getElementById("client_phone2").value;
      $("#client_bills_attributes_0_phone2").val(phone2);
      var fax = document.getElementById("client_fax").value;
      $("#client_bills_attributes_0_fax").val(fax);
      var address1 = document.getElementById("client_address1").value;
      $("#client_bills_attributes_0_address1").val(address1);
      var address2 = document.getElementById("client_address2").value;
      $("#client_bills_attributes_0_address2").val(address2);
      var zip = document.getElementById("client_zip").value;
      $("#client_bills_attributes_0_zip").val(zip);
      var city = document.getElementById("client_city").value;
      $("#client_bills_attributes_0_city").val(city);
      var state = document.getElementById("client_state").value;
      $("#client_bills_attributes_0_state").val(state);
      var country = document.getElementById("client_country").value;
      $("#client_bills_attributes_0_country").val(country);
    } else {
      $("#client_bills_attributes_0_name").val(null);
      $("#client_bills_attributes_0_email").val(null);
      $("#client_bills_attributes_0_phone1").val(null);
      $("#client_bills_attributes_0_phone2").val(null);
      $("#client_bills_attributes_0_fax").val(null);
      $("#client_bills_attributes_0_address1").val(null);
      $("#client_bills_attributes_0_address2").val(null);
      $("#client_bills_attributes_0_zip").val(null);
      $("#client_bills_attributes_0_city").val(null);
      $("#client_bills_attributes_0_state").val(null);
      $("#client_bills_attributes_0_country").val(null);
    }
  }
</script>
<%= t(:billing_info_is_the_same_as_delivery_info) %>:
<input type="radio" name="group1" value=false onclick="setBillingInfo(this.value);" checked> <%= t(:no) %>
<input type="radio" name="group1" value=true onclick="setBillingInfo(this.value);"> <%= t(:yes) %>
<br /> 
<br />

  <p class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :rfc %>
    <%= f.text_field :rfc, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :phone1 %>
    <%= f.text_field :phone1, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :phone2 %>
    <%= f.text_field :phone2, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :fax %>
    <%= f.text_field :fax, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :address1 %>
    <%= f.text_field :address1, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :address2 %>
    <%= f.text_field :address2, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :city %>
    <%= f.text_field :city, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :state %>
    <%= f.text_field :state, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :zip %>
    <%= f.number_field :zip, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :country %>
    <%= f.text_field :country, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :client_id %>
      <%= f.collection_select(:client_id, @clients, :id, :fullname, {:prompt => true}, :class =>'.small-input')%>
  </p>
  <p class="field">
    <%= f.label :branch_id %>
    <%= f.collection_select(:branch_id, @branches, :id, :name, {:prompt => session[:promp_branch]}, :class =>'.small-input')%>
  </p>
