<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
          <tr>
        <td>
          <b><%= t'.first_name' %>:</b> <%= @client.first_name %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.last_name' %>:</b> <%= @client.last_name %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.email' %>:</b> <%= @client.email %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.phone1' %>:</b> <%= @client.phone1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.phone2' %>:</b> <%= @client.phone2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.fax' %>:</b> <%= @client.fax %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.address1' %>:</b> <%= @client.address1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.address2' %>:</b> <%= @client.address2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.city' %>:</b> <%= @client.city %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.state' %>:</b> <%= @client.state %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.zip' %>:</b> <%= @client.zip %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.country' %>:</b> <%= @client.country %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.branch' %>:</b> <%= @client.branch.name %>
        </td>
      </tr>
      </table>
</div>


<%= render "layouts/action_links" %>
