<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t'.client_id' %></b> <%= @bill.client.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.name' %></b> <%= @bill.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.rfc' %></b> <%= @bill.rfc %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.email' %></b> <%= @bill.email %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.phone1' %></b> <%= @bill.phone1 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.phone2' %></b> <%= @bill.phone2 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.fax' %></b> <%= @bill.fax %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.address1' %></b> <%= @bill.address1 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.address2' %></b> <%= @bill.address2 %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.city' %></b> <%= @bill.city %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.state' %></b> <%= @bill.state %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.zip' %></b> <%= @bill.zip %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.country' %></b> <%= @bill.country %>
      </td>
    </tr>
  </table>
  <%= render "layouts/action_links" %>
</div>
<br />
