<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
  <table>
    <thead>
      <tr>
        <th><input class="check-all" type="checkbox" /></th>
        <th><%= t'.id' %></th>
        <th><%= t'.name' %></th>
        <th><%= t'.email1' %></th>
        <th><%= t'.contact_name' %></th>
        <th><%= t'.phone1' %></th>
        <th><%= t'.address1' %></th>
        <th><%= t'.city' %></th>
      </tr>

    </thead>

    <tfoot>
      <tr>
        <td colspan="6">
          <div class="bulk-actions align-left">
            <%= render "layouts/select_action" %>
          </div>
          <%= render "layouts/pagination" %>
          <div class="clear"></div>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><input type="checkbox" /></td>
          <%if can? :show, Company %>
            <td><%=link_to company.id, company, :class => 'button'%></td>
          <%else%>
            <td><%= label company.id, company.id, :class => 'button'%></td>
          <%end%>


          <% @model = company %> 

          <td><%= company.name %></td>

          <td><%= company.email1 %></td>                             

          <td><%= company.contact_name %></td>

          <td><%= company.phone1 %></td>

          <td><%= company.address1 %></td>                            

          <td><%= company.city %></td>
          <%= render "layouts/index_links" %>
        <% end %>
      </tr>
    </tbody>
  </table>
  <%= render "layouts/action_links" %>
</div> 
<%= render "layouts/second_tab" %>
<br><br><br>