<%#= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
          <tr>
        <td>
          <b><%= t'.name' %></b><%= @company.name %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.email1' %></b><%= @company.email1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.email2' %></b><%= @company.email2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.webpage' %></b><%= @company.webpage %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.phone1' %></b><%= @company.phone1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.phone2' %></b><%= @company.phone2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.name' %></b><%= @company.name %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.address1' %></b><%= @company.address1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.address2' %></b><%= @company.address2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.city' %></b><%= @company.city %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.state' %></b><%= @company.state %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.zip' %></b><%= @company.zip %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.country' %></b><%= @company.country %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.description' %>:<%= @company.description %>
        </td>
      </tr>
      </table>
  <%= render "layouts/action_links" %>
</div>
<br />
