<%#= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
          <tr>
        <td>
          <b><%= t'.name' %>:<%= @company.name %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.email1' %>:<%= @company.email1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.email2' %>:<%= @company.email2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.webpage' %>:<%= @company.webpage %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.phone1' %>:<%= @company.phone1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.phone2' %>:<%= @company.phone2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.name' %>:<%= @company.name %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.address1' %>:<%= @company.address1 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.address2' %>:<%= @company.address2 %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.city' %>:<%= @company.city %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.state' %>:<%= @company.state %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.zip' %>:<%= @company.zip %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.country' %>:<%= @company.country %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.description' %>:<%= @company.description %>
        </td>
      </tr>
      </table>
</div>


<%= render "layouts/action_links" %>
