<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t'.driver_id' %></b> <%= @routes_history.driver.user.fullname %>
      </td>
    </tr>
        <tr>
      <td>
        <b><%= t'.client_id' %></b> <%= @routes_history.client.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.client_branch_id' %></b> <%= @routes_history.client_branch.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.company_id' %></b> <%= @routes_history.company.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.branch_id' %></b> <%= @routes_history.branch.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.started_at' %></b> <%= I18n.l @routes_history.started_at, :format => :long  %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.finished_at' %></b> <%= I18n.l @routes_history.finished_at, :format => :long  %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.initial_km' %></b> <%= @routes_history.initial_km %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.final_km' %></b> <%= @routes_history.final_km %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.closed' %></b> <%= t(@routes_history.closed.to_s) %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.weekday' %></b> <%= t(@routes_history.weekday.titlecase) %>
      </td>
    </tr>
  </table>
</div>

<h3><%= t'.client_branches' %></h3>

<table>
  <thead>
    <tr>
      <th><input class="check-all" type="checkbox" /></th>
      <th><%= t'schedules_histories.index.id' %></th>
      <th><%= t'schedules_histories.index.client_branch_id' %></th>
      <th><%= t'schedules_histories.index.branch_id' %></th>
      <th><%= t'schedules_histories.index.company_id' %></th>
      <th><%= t'schedules_histories.index.visited' %></th>
      <th><%= t'schedules_histories.index.visited_at' %></th>
    </tr>

  </thead>

  <tbody>
    <% @routes_history.schedules_histories.each do |schedules_history| %>
      <tr>
        <td><input type="checkbox" /></td>
        <%if can? :show, SchedulesHistory %>
          <td><%=link_to schedules_history.id, schedules_history, :class => 'button'%></td>
        <%else%>
          <td><%= label schedules_history.id, schedules_history.id, :class => 'button'%></td>
        <%end%>


        <% @model = schedules_history %> 

        <td><%= schedules_history.client_branch.name %></td>

        <td><%= schedules_history.branch.name %></td>

        <td><%= schedules_history.company.name %></td>

        <td><%= t(schedules_history.visited.to_s) %></td>

        <td><%= I18n.l schedules_history.visited_at, :format => :long %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br><br>

<h3><%= t'.tasks' %></h3>

<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
  <table>
    <thead>
      <tr>
        <th><%= t'.id' %></th>
        <th><%= t'.name' %></th>
        <th><%= t'.driver_id' %></th>
        <th><%= t'.completed' %></th>
        <th><%= t'.priority' %></th>
        <th><%= t'.scheduled_date' %></th>
        <th><%= t'.completed_at' %></th>
      </tr>

    </thead>

    <tbody>
      <% Task.where(:driver_id => @routes_history.driver.id, :scheduled_date => Date.today).each do |task| %>
        <tr>
          <%if can? :show, Task %>
            <td><%=link_to task.id, task, :class => 'button'%></td>
          <%else%>
            <td><%= label task.id, task.id, :class => 'button'%></td>
          <%end%>

          <td><%= task.name %></td>

          <td><%= task.driver.user.fullname %></td>

          <td><%= t(task.completed.to_s) %></td>

          <td><%= task.priority %></td>

          <td><%= task.scheduled_date %></td>

          <td><%= task.completed_at %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div> 
<br><br>

<table>
  <h3><%= t'.failures' %></h3>
  <tbody>
    <% @routes_history.failures_histories.each do |failures_history| %>
      <tr>
        <td><%= link_to t("activerecord.models.#{failures_history.failure_type.underscore}"),  eval("#{failures_history.failure_type.underscore}_path(:id => #{failures_history.failure_id})")%></td>
      <% end %>
    </tr>
  </tbody>
</table>


<%= render "layouts/action_links" %>
<br />
