<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
  <table>
    <thead>
      <tr>
        <th><input class="check-all" type="checkbox" /></th>
        <th><%= t'.id' %></th>
        <th><%= t'.name' %></th>
        <th><%= t'.super_admin' %></th>
        <th><%= t'.branch_admin' %></th>
        <th><%= t'.routes_admin' %></th>
        <th><%= t'.driver' %></th>
        <th><%= t'.branch' %></th>
      </tr>

    </thead>

    <tfoot>
      <tr>
        <td colspan="6">
          <div class="bulk-actions align-left">
            <%= render "layouts/select_action" %>
          </div>
          <%= render "layouts/pagination" %>
          <div class="clear"></div>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td><input type="checkbox" /></td>
          <%if can? :show, Role %>
            <td><%=link_to role.id, role, :class => 'button'%></td>
          <%else%>
            <td><%= label role.id, role.id, :class => 'button'%></td>
          <%end%>

          <% @model = role %>

          <td><%= role.name %></td>

          <td><%= role.super_admin %></td>

          <td><%= role.branch_admin %></td>

          <td><%= role.routes_admin %></td>

          <td><%= role.driver %></td>                             

          <td><%= role.branch.name %></td>
          <%= render "layouts/index_links" %>
        <% end %>
      </tr>
    </tbody>
  </table>
  <%= render "layouts/action_links" %>
</div> 
<%= render "layouts/second_tab" %>