<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t'.name' %></b> <%= @role.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.protected' %></b> <%= @role.protected %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.super_admin' %></b> <%= @role.super_admin %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.company_admin' %></b> <%= @role.company_admin %>
      </td>
    </tr>    
    <tr>
      <td>
        <b><%= t'.branch_admin' %></b> <%= @role.branch_admin %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.routes_admin' %></b> <%= @role.routes_admin %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.driver' %></b> <%= @role.driver %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.description' %></b> <%= @role.description %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.branch_id' %></b> <%= @role.branch.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.company_id' %></b> <%= @role.company.name %>
      </td>
    </tr>
  </table>
  <%= render "layouts/action_links" %>
</div>
<br />
