<%= render "layouts/first_tab" %>
<%= nested_form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% @route.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :branch_id %>
    <%= f.collection_select(:branch_id, @branches, :id, :name, {:prompt => true}, :class =>'.small-input')%>
    <%= f.hidden_field :company_id, :class=>"text-input small-input", :value=>current_user.company_id %>  
  </p>  
  <p class="field">
<%= f.collection_select(:schedule_id, Schedule.where(:branch_id => current_user.branch_id).order("id ASC"), :id, :select_schedule, {:prompt => false}, :onchange => 'getSchedule(this.value)') %>
    <%= f.link_to_add "Agregar Horario", :schedules_routes, :class => "button", :style => "vertical-align: top;" %>
  </p>
    <table id="orders-table">
    <tr style="height: 50px; border-bottom: 1px solid #ccc;">
      <th style="width: 50px; border-right: 1px solid #ccc;">ID</th>
      <th style="width: 100px; border-right: 1px solid #ccc;">Cliente</th>
      <th style="width: 200px;">Dias</th>
      <th style="width: 80px;"></th>
    </tr>
    <%= f.fields_for :schedules_routes, :wrapper => false do |schedule_route_form| %>
      <tr class="fields" style="border-bottom: 1px solid #ccc;">
        <td class="order-id" style="width: 50px; border-right: 1px solid #ccc;"><%= schedule_route_form.object.schedule.id unless schedule_route_form.object.schedule.nil? %></td>
        <td class="client-name" style="width: 500px; border-right: 1px solid #ccc;"><%= schedule_route_form.object.schedule.client.name  unless schedule_route_form.object.schedule.nil? %></td>
        <%unless schedule_route_form.object.schedule.nil?%>
          <td class="import" style="width: 80px;">
            <%= t(:monday) if schedule_route_form.object.schedule.monday %>
            <%= t(:tuesday) if schedule_route_form.object.schedule.tuesday %>
            <%= t(:wednesday) if schedule_route_form.object.schedule.wednesday %>
            <%= t(:thursday) if schedule_route_form.object.schedule.thursday %>
            <%= t(:friday) if schedule_route_form.object.schedule.friday %>
            <%= t(:saturday) if schedule_route_form.object.schedule.saturday %>
            <%= t(:sunday) if schedule_route_form.object.schedule.sunday %>
          </td>
        <%end%>
        <td style="width: 80px;">
          <%= schedule_route_form.hidden_field :schedule_id, :class => "hidden-order-id" %>
          <%= schedule_route_form.link_to_remove "[ - ]", :class => "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="form-actions">
    <%= f.submit nil, :class => 'button' %>
  </div>
<% end %>
<div>
  <%= render "layouts/action_links" %>
</div>
<br><br><br>

<script type="text/javascript">
  /*function updateTotal() {
   var total = 0;
   
   $("#orders-table .import").each(function() {
   if ($(this).parent().css("display") != "none") {
   total += parseFloat($(this).html());
   }
   });
   
   $("#total").text("$" + parseFloat(total).toFixed(2));
   }*/

function getSchedule(id){
      var schedule_id = id;

      if (schedule_id.match(/^[0-9]\d*$/)) {
        if ($("#orders-table .order-id").filter(function() {
          return $(this).html() === schedule_id;
        }).length == 0) {
          $content = $(content);
          if ($("#orders-table").find("tr:eq(1)").length == 1) {
            $tr = $("#orders-table").find("tr:eq(1)");
            before = true;
          }
          else {
            $tr = $("#orders-table").find("tr:eq(0)");
            before = false;
          }

          $(link).prev().val("");
          $.ajax({
            url: "/schedules/" + schedule_id + ".json",
            async: false,
            data: "json",
            success: function(schedule) {
              $content.find(".hidden-order-id").val(schedule_id);
              $content.find(".order-id").html(schedule.id);
              //$content.find(".import").html(parseFloat(schedule.total_due).toFixed(2));
              $.ajax({
                url: "/clients/" + schedule.client_id + ".json",
                async: false,
                data: "json",
                success: function(client) {
                  $content.find(".client-name").html(client.name);
                }
              });
            }
          });

          if (before) {
            return $content.insertBefore($tr);
          }
          else {
            return $content.insertAfter($tr);
          }
        }
      }
}


  $(function() {
    window.NestedFormEvents.prototype.insertFields = function(content, assoc, link) {
      var schedule_id, $content, $tr, before, schedule_id;

      schedule_id = $(link).prev().val();

      if (schedule_id.match(/^[0-9]\d*$/)) {
        if ($("#orders-table .order-id").filter(function() {
          return $(this).html() === schedule_id;
        }).length == 0) {
          $content = $(content);
          if ($("#orders-table").find("tr:eq(1)").length == 1) {
            $tr = $("#orders-table").find("tr:eq(1)");
            before = true;
          }
          else {
            $tr = $("#orders-table").find("tr:eq(0)");
            before = false;
          }

          $(link).prev().val("");
          $.ajax({
            url: "/schedules/" + schedule_id + ".json",
            async: false,
            data: "json",
            success: function(schedule) {
              $content.find(".hidden-order-id").val(schedule_id);
              $content.find(".order-id").html(schedule.id);
              //$content.find(".import").html(parseFloat(schedule.total_due).toFixed(2));
              $.ajax({
                url: "/clients/" + schedule.client_id + ".json",
                async: false,
                data: "json",
                success: function(client) {
                  $content.find(".client-name").html(client.name);
                }
              });
            }
          });

          if (before) {
            return $content.insertBefore($tr);
          }
          else {
            return $content.insertAfter($tr);
          }
        }
      }
    };

    $(document).on("nested:fieldRemoved nested:fieldAdded", function() {
      updateTotal();
    });
  });
</script>
