<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t'.name' %></b> <%= @route.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.schedule' %></b> <%= @route.schedule %>
      </td>
    </tr>
  </table>
</div>
<table>
  <thead>
    <tr>
      <th><input class="check-all" type="checkbox" /></th>
      <th><%= t'.id' %></th>
      <th><%= t'.driver' %></th>
      <th><%= t'.client' %></th>
      <th><%= t'.monday' %></th>
      <th><%= t'.tuesday' %></th>
      <th><%= t'.wednesday' %></th>
      <th><%= t'.thursday' %></th>
      <th><%= t'.friday' %></th>
      <th><%= t'.saturday' %></th>
      <th><%= t'.sunday' %></th>
    </tr>

  </thead>

  <tfoot>
    <tr>
      <td colspan="6">
        <div class="bulk-actions align-left">
          <%= render "layouts/select_action" %>
        </div>
        <%= render "layouts/pagination" %>
        <div class="clear"></div>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <% @route.schedules.each do |schedule| %>
      <tr>
        <td><input type="checkbox" /></td>
        <%if can? :show, Schedule %>
          <td><%=link_to schedule.id, schedule, :class => 'button'%></td>
        <%else%>
          <td><%= label schedule.id, schedule.id, :class => 'button'%></td>
        <%end%>


        <% @model = schedule %> 

        <td><%= schedule.driver.user.fullname %></td>

        <td><%= schedule.client.fullname %></td>

        <td><%= t(schedule.monday.to_s) %></td>

        <td><%= t(schedule.tuesday.to_s) %></td>

        <td><%= t(schedule.wednesday.to_s) %></td>

        <td><%= t(schedule.thursday.to_s) %></td>

        <td><%= t(schedule.friday.to_s) %></td>

        <td><%= t(schedule.saturday.to_s) %></td>

        <td><%= t(schedule.sunday.to_s) %></td>
        <%= render "layouts/index_links" %>
      <% end %>
    </tr>
  </tbody>
</table>
  <%= render "layouts/action_links" %>
</div>
<br />