<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
  <table>
    <thead>
      <tr>
        <th><input class="check-all" type="checkbox" /></th>
        <th><%= t'.id' %></th>
        <th><%= t'.user' %></th>
        <th><%= t'.truck' %></th>
        <th><%= t'.branch' %></th>
      </tr>

    </thead>

    <tfoot>
      <tr>
        <td colspan="6">
          <div class="bulk-actions align-left">
            <%= render "layouts/select_action" %>
          </div>
          <%= render "layouts/pagination" %>
          <div class="clear"></div>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td><input type="checkbox" /></td>
          <%if can? :show, Driver %>
            <td><%=link_to driver.id, driver, :class => 'button'%></td>
          <%else%>
            <td><%= label driver.id, driver.id, :class => 'button'%></td>
          <%end%>


          <% @model = driver %> 

          <td><%= driver.user.fullname %></td>

          <td><%= driver.truck.modelbrand %></td>

          <td><%= driver.branch.name %></td>

          <%= render "layouts/index_links" %>

        <% end %>
      </tr>
    </tbody>
  </table>
  <%= render "layouts/action_links" %>
</div> 
<%= render "layouts/second_tab" %>