<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
          <tr>
        <td>
          <b><%= t'.user_id' %></b> <%= @driver.user.fullname %>
        </td>
      </tr>
          <tr>
        <td>
          <b><%= t'.truck_id' %></b> <%= @driver.truck.modelbrand %>
        </td>
      </tr>
    <tr>
      <td>
        <b><%= t'.branch_id' %></b> <%= @role.branch.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'.company_id' %></b> <%= @role.company.name %>
      </td>
    </tr>
      </table>
  <%= render "layouts/action_links" %>
</div>
<br />
