<script>
  function setCurrentClass(controller) {
    $(".mainlinks").removeClass('current');
    $("#" + controller).addClass('current');
  }
  $(function() {
    $(".mainlinks").removeClass('current');
    $("#<%=controller_name%>").addClass('current');
  });
</script>

<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->

    <h1 id="sidebar-title"><a href="#">Inspectium</a></h1>

    <!-- Logo (221px wide) -->
    <a href="#" style="margin-left: 20%"><img id="logo" src="/assets/ok.png" alt="Inspectium" /></a>

    <!-- Sidebar Profile links -->
    <div id="profile-links">
      <%if signed_in?%>
        <%= t(:home)%>, <%= link_to current_user.fullname, current_user%>, you have <a href="#messages" rel="modal" title="3 Messages">3 Messages</a><br />
        <br />
        <%= link_to t(:home), root_path%> | 
        <%= link_to t(:logout), destroy_user_session_path%>
      <%else%>
        <%= link_to t(:sign_in), new_user_session_path%>
      <%end%>
    </div>     
    <ul id="main-nav">  <!-- Accordion Menu -->
      <li>     
        <%= link_to t(:home), root_path, :class=> "nav-top-item no-submenu mainlinks", :onclick=>"setCurrentClass('welcome');", :id=>"welcome"%>
      </li>
      <%if signed_in?%>
        <% if can? :show, Company %>
          <li> 
            <%=link_to current_user.branch.company.name, current_user.branch, :class=> "nav-top-item no-submenu", :onclick=>"setCurrentClass('shoew_branch');", :id=>"show_branch"%>
          </li>
        <%end%>
        <% @models = Dir['app/models/*.rb'].map { |f| File.basename(f, '.*').camelize.constantize.name } %>
        <% @models -= %w{Ability} %>
        <% @models.each do |model|%>
          <li> 
            <% if can? :new, eval(model) or can? :index, eval(model)%>
              <a href="#" class="nav-top-item mainlinks" onclick="setCurrentClass('<%=model.pluralize.downcase%>');" id="<%=model.pluralize.downcase%>"> <!-- Add the class "current" to current menu item -->
                <%=eval("t(:#{model.underscore.pluralize})")%>
              </a>
            <%end%> 
            <ul>
              <%if can? :index, eval(model)%>
                <li><%=link_to eval("t(:#{model.underscore.downcase.pluralize})"), eval("#{model.underscore.pluralize.downcase}_path") %></li>
              <%end%>
              <%if can? :new, eval(model) %>
                <li><%=link_to eval("t(:new_#{model.underscore.downcase})"), eval("new_#{model.underscore.downcase}_path") %></li>
              <%end%>
            </ul>
          </li>
        <%end%>
      <%end%>
    </ul> <!-- End #main-nav -->

    <div id="messages" style="display: none"> <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->

      <h3>3 Messages</h3>

      <p>
        <strong>17th May 2009</strong> by Admin<br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
        <small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
      </p>

      <p>
        <strong>2nd May 2009</strong> by Jane Doe<br />
        Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
        <small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
      </p>

      <p>
        <strong>25th April 2009</strong> by Admin<br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
        <small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
      </p>

      <form action="" method="post">

        <h4>New Message</h4>

        <fieldset>
          <textarea class="textarea" name="textfield" cols="79" rows="5"></textarea>
        </fieldset>

        <fieldset>

          <select name="dropdown" class="small-input">
            <option value="option1">Send to...</option>
            <option value="option2">Everyone</option>
            <option value="option3">Admin</option>
            <option value="option4">Jane Doe</option>
          </select>

          <input class="button" type="submit" value="Send" />

        </fieldset>

      </form>

    </div> <!-- End #messages -->

  </div></div> <!-- End #sidebar -->