<script>
  function setCurrentClass(controller) {
    $(".mainlinks").removeClass('current');
    $("#" + controller).addClass('current');
  }
  $(function() {
    $(".mainlinks").removeClass('current');
    $("#<%=controller_name%>").addClass('current');
  });
</script>

<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->

    <h1 id="sidebar-title"><a href="#">Inspectĭo</a></h1>
    <!-- Logo (221px wide) -->
    <h2 style="text-align: center; color: white; margin-top: 20px;">Inspectĭo</h2>
    <a href="#" style="margin-left: 20%"><img id="logo" src="/assets/ok.png" alt="Inspectium" /></a>

    <!-- Sidebar Profile links -->
    <div id="profile-links">
      <%if signed_in?%>
        <%= t(:welcome)%>, <%= link_to current_user.fullname, current_user%><br /><a href="#messages" rel="modal" title="3 Messages"><%= link_to t(:edit_my_account), edit_user_registration_path(current_user)%></a><br />
        <br />
        <%= link_to t(:home), root_path%> | 
        <%= link_to t(:logout), destroy_user_session_path%>
      <%else%>
        <%= link_to t(:sign_in), new_user_session_path%>
      <%end%>
    </div>     
    <ul id="main-nav">  <!-- Accordion Menu -->
      <li>     
        <%= link_to t(:home), root_path, :class=> "nav-top-item no-submenu mainlinks", :onclick=>"setCurrentClass('welcome');", :id=>"welcome"%>
      </li>
      <%if signed_in?%>
        <% if can? :show, Company %>
          <li> 
            <%=link_to current_user.branch.company.name, current_user.branch, :class=> "nav-top-item no-submenu", :onclick=>"setCurrentClass('shoew_branch');", :id=>"show_branch"%>
          </li>
        <%end%>

        <% if current_user.role.super_admin or current_user.role.branch_admin or current_user.role.routes_admin%>
          <li> 
            <a href="#" class="nav-top-item" onclick="setCurrentClass('welcomes');" id="welcomes"> <!-- Add the class "current" to current menu item -->
              <%=  t(:truck_failures)%>
            </a>
            <ul>
              <%if can? :index, BrakesSystem%>
                <li><%=link_to eval("t('activerecord.models.brakes_systems')"), brakes_systems_path %></li>
              <%end%>
              <%if can? :index, Cabin%>
                <li><%=link_to eval("t('activerecord.models.cabins')"), cabins_path %></li>
              <%end%>
              <%if can? :index, CompactorDrawer%>
                <li><%=link_to eval("t('activerecord.models.compactor_drawers')"), compactor_drawers_path %></li>
              <%end%>
              <%if can? :index, DriveSystem%>
                <li><%=link_to eval("t('activerecord.models.drive_systems')"), drive_systems_path %></li>
              <%end%>
              <%if can? :index, ElectricalSystem%>
                <li><%=link_to eval("t('activerecord.models.electrical_systems')"), electrical_systems_path %></li>
              <%end%>
              <%if can? :index, HydraulicSystem%>
                <li><%=link_to eval("t('activerecord.models.hydraulic_systems')"), hydraulic_systems_path %></li>
              <%end%>
            </ul>
          </li>
        <%end%> 


        <% @models = Dir['app/models/*.rb'].map { |f| File.basename(f, '.*').camelize.constantize.name } %>
        <% @models -= %w{Ability SchedulesRoute BrakesSystem Cabin CompactorDrawer DriveSystem ElectricalSystem HydraulicSystem} %>
        <% @models.each do |model|%>
          <% if can? :new, eval(model) or can? :index, eval(model)%>
            <li> 
              <a href="#" class="nav-top-item mainlinks" onclick="setCurrentClass('<%=model.pluralize.downcase%>');" id="<%=model.pluralize.downcase%>"> <!-- Add the class "current" to current menu item -->
                <%=eval("t('activerecord.models.#{model.underscore.pluralize}')")%>
              </a>
              <ul>
                <%if can? :index, eval(model)%>
                  <li><%=link_to eval("t('activerecord.models.#{model.underscore.downcase.pluralize}')"), eval("#{model.underscore.pluralize.downcase}_path") %></li>
                <%end%>
                <%if can? :new, eval(model) %>
                  <li><%=link_to eval("t('actions.new',  model: t('activerecord.models.#{model.underscore.downcase.singularize.gsub(" ", "")}'))"), eval("new_#{model.underscore.downcase}_path") %></li>
                <%end%>
              </ul>
            </li>
          <%end%> 
        <%end%>
      <%end%>

      <ul id="main-nav"> 
        <li>
          <a href="http://www.google.com" class="nav-top-item no-submenu"> <!-- Add the class "no-submenu" to menu items with no sub menu -->
            Monitor en Vivo
          </a>       
        </li>
      </ul>

    </ul> <!-- End #main-nav -->

    <div id="messages" style="display: none"> <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->

      <h3<%= link_to t(:edit_my_account), edit_user_registration_path(current_user)%></h3>

      <p>
        <strong>17th May 2009</strong> by Admin<br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
        <small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
      </p>

      <p>
        <strong>2nd May 2009</strong> by Jane Doe<br />
        Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
        <small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
      </p>

      <p>
        <strong>25th April 2009</strong> by Admin<br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
        <small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
      </p>

      <form action="" method="post">

        <h4>New Message</h4>

        <fieldset>
          <textarea class="textarea" name="textfield" cols="79" rows="5"></textarea>
        </fieldset>

        <fieldset>

          <select name="dropdown" class="small-input">
            <option value="option1">Send to...</option>
            <option value="option2">Everyone</option>
            <option value="option3">Admin</option>
            <option value="option4">Jane Doe</option>
          </select>

          <input class="button" type="submit" value="Send" />

        </fieldset>

      </form>

    </div> <!-- End #messages -->

  </div></div> <!-- End #sidebar -->
